html{
    height: 100%;
    background-image: radial-gradient(center center, circle cover, #5EC4CD, #5EC4CD);
	background-image: -o-radial-gradient(center center, circle cover, #5EC4CD, #5EC4CD);
	background-image: -ms-radial-gradient(center center, circle cover, #5EC4CD, #5EC4CD);
	background-image: -moz-radial-gradient(center center, circle cover, #5EC4CD, #5EC4CD);
	background-image: -webkit-radial-gradient(center center, circle cover, #5EC4CD, #028E9B);
}

.slow-trans{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.bar{
    position: relative;
    background-color: #fff;
/*    opacity: .76;*/
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: 200px;
    margin-top: 15%;
    
}

.logo {
    margin-top: 5%;
    text-align: center;
    color: #5EC4CD;
}

.search {
    margin-top: 5%;
    padding-top:2%;
    text-align: center;
}

.search button {
    background: #40A9B2;
    color:#fff;
}

.search button:hover {
    background: #5EC4CD;
}